{% load staticfiles %}
<footer id="footer">
    <div class="logoWrap">
        <div class="container">
            <h1>
                <!--<a href="{% url 'story:index' %}" title="#">
                    <img src="{% static 'img/biblioviews.png'%}" alt="#" width="208" height="108" class="img-responsive">
                    <strong>BiblioViews</strong>
                </a> -->
            </h1>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            Copyright @2018 Yours. All Rights Reserved.
        </div>
    </div>
</footer>